* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0b0f0d;
    color: white;
}

.container {
    width: 90%;
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
}

h1 {
    font-size: 42px;
    margin-bottom: 5px;
    color: #00ff88;
}

.subtitulo {
    color: #aaa;
    margin-bottom: 30px;
}

.input-area {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 15px;
    border: 1px solid #333;
    border-radius: 10px;
    background: #171b19;
    color: white;
    font-size: 16px;
}

button {
    padding: 15px 25px;
    border: none;
    border-radius: 10px;
    background: #00c968;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: #00e879;
}

#resultado {
    margin-top: 30px;
    text-align: left;
}

#resultado h2 {
    color: #00ff88;
}

.passo {
    padding: 14px;
    margin: 8px 0;
    border-radius: 8px;
    background: #171b19;
    border-left: 3px solid #00c968;
}

.resultado-final {
    padding: 18px;
    background: #123d29;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #00ff88;
}

/* Área da imagem do exercício */
.imagem-area {
    margin-top: 20px;
    text-align: center;
}

.botao-imagem {
    display: inline-block;
    padding: 14px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    background: #00e676;
    color: #000;
}

/* Tamanho controlado da imagem */
#preview {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.imagem-preview {
    display: block;
    width: 100%;
    max-width: 500px;
    max-height: 400px;
    object-fit: contain;
    border-radius: 12px;
}

/* Texto reconhecido */
#texto-lido {
    margin-top: 20px;
}

.texto-reconhecido {
    background: #171b19;
    padding: 15px;
    border-radius: 10px;
    white-space: pre-wrap;
    word-break: break-word;
}
